@font-face {
    font-family: Postoni;
    src: url(http://img.wpdigital.net/rw/sites/webfonts/PostoniRegular/postonititling-regular-webfont.ttf?t=20120504164900);
    font-weight:400;
}

body{
	font-size: 62.5%;

}

#container {
	position: relative;
}

header {
	margin: 0 auto;
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
	box-shadow: 0 1px 4px rgba(34, 25, 25, 0.4);
	background: 	#222;
}

header div {
	margin: 0 auto;
	width: 996px;
}

header ul {
	float: right;
	color: #aaa;
	height: 45px;
	font-family: Arial, sans-serif;
}

header li:first-child{
	border-left: 1px solid #aaa;
}

header li.selected{
	color: #fff;
}

header li {
	border-right: 1px solid #aaa;
	display: block;
	float: left;
	font-size: 1.5em;
	height: 100%;
	line-height: 43px;
	padding: 0 20px;
}
header li a {
	color: inherit;
	text-decoration:none;
	display:block;
	width: 100%;
	height: 100%;
}
header h1{
	text-indent:-500px;
	color: 		#000;
	width: 		200px;
	height: 	25px;
	background: #222 url(../img/wp.png) -18px 0 no-repeat;
	padding: 	10px 0;
	width: 		200px;
	float: 		left;
}
header fieldset{
	float: right;
	font-family: arial, sans-serif;
	color: #fff;
	margin-top: 10px;
	font-size: 1.4em;
	display: none;
}
header fieldset input{
	border: 1px solid #fff;
}
header fieldset label{
	margin-right: 1em;
}
h2{
	color: #2E6D9D;
    font-family: Postoni;
    font-size: 6.7em;
    line-height: 80px;	
}
hgroup{
	margin: 67px auto 14px;
	position: relative;
	width: 996px;
	padding-bottom: 20px;
	border-bottom: #aaa 1px solid;
}
hgroup img{
	position: absolute;
	right: 5px;
	top:0;
}

h2 em{
    color: #444;
}

section{
	position: relative;
	margin: 30px auto 0;
	font-family: arial, sans-serif;
	width: 996px;
}

section h3 {
	font-family: georgia,serif;
	font-size: 2.2em;

	padding-bottom: 30px;
	float: left;
	width: 800px;

}

section.form h3{
	width: 100%;
	margin-bottom: 30px;
	border-bottom: #aaa solid 1px;
}

table {
	width: 100%;
	clear: both;
	border-top: #aaa solid 1px;
}

th {
	height: 45px;
	padding-top: 20px;
	font-weight:bold;
}

td{
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	vertical-align: center;
	padding: 20px 0;
	font-size: 1.1em;
}

td:first-child{
	font-size:1.2em;
	font-weight: bold;
}

td.actions {
	width: 69px;
}

tbody{
	border-top: 2px solid #666;	
}

.WPpre {
  	background-image: url("http://img.wpdigital.net/rw/sites/twpweb/img/logos/wp-90x75.png?t=20120504164900");
    background-position: 0 4px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 80px;
    margin-right: 5px;
    width: 95px;
}

#pagination {
	overflow:hidden;
	position: relative;
    background: none repeat scroll 0 0 #F5F5F5;
    font-size: 1.2em;
    font-weight: 100;
    padding: 20px 0;
    margin-top: 20px;
}
#pagination div {
    line-height: 18px;
    margin-left: 130px;
    white-space: normal;
    width: inherit;
}
#pagination span {
    border-left: 1px solid #AAAAAA;
    display: block;
    float: left;
    line-height: 16px;
    padding-left: 2px;
    padding-right: 3px;
    text-align: center;
    width: 63px;
}

#pagination span.first {
    border-left: medium none;
    padding-left: 0;
}

#pagination span.last {
    padding-right: 0;
}

#pagination span.no-border {
    border-left: medium none;
}

#pagination span.space {
    border-left: medium none;
    padding: 0;
    width: auto;
}

#pagination a {
    display: block;
    color: inherit;
    text-decoration: none;
}

#pagination a.current {
	font-weight : bold;
}

#pagination a:hover {
	color: #D88D4C;
}

#pagination a.next, #pagination a.prev {
    background: url("../img/btn-next.png") no-repeat scroll 100% 50% transparent;
    display: block;
    float: left;
    font-weight: 900;
    height: 22px;
    line-height: 22px;
    padding-right: 30px;
    position: absolute;
    right: 20px;
    top: 17px;
}

#pagination a.prev {
    background: url("../img/btn-prev.png") no-repeat scroll 0 50% transparent;
    left: 20px;
    padding-left: 30px;
    padding-right: 0;
    right: auto;
}

form{
	width: 600px;
	clear:both;
	float:left;
}

input, textarea, select{
	width: 480px;
	float:left;
	border: 1px solid #aaa;
	font-family: Arial, sans-serif;
		font-size: 1.1em;
		line-height: 1.4em;

}

input{
	height: 23.4px;
}

input.submit{
	width:100px;
	float: right;
	margin-right: 3px;
	height: 40px;
	background: #FAFAFA;

}

a.button {
	width: 100px; 
	display: block;
	height: 40px;
	text-align: center;
	font-size: 1.2em;
	color: inherit;
	text-decoration: none;
	float:right;
	line-height: 39px;
	margin-top: -10px;
	border: 1px solid rgb(170, 170, 170);
	background: none repeat scroll 0% 0% rgb(250, 250, 250);
	margin-bottom: 20px;
}

label {
	width: 100px;
	float:left;
	display: block;
	line-height: 2em;
	text-align: right;
	margin-right: 15px;
	font-weight: bold;
}

fieldset {
	margin: 20px 0;
	width: 600px;
}

fieldset:first-child {
	margin-top: 0;
}

form a {
	font-size: 1.2em;
	float:right;
	margin-right: 20px;
	line-height: 40px;
	display:block;
}

a.edit{
	width: 16px;
	height: 16px;
	font-size:0;
	text-indent: -4000px;
	background: url("../img/edit.jpg") repeat scroll 0 0 transparent;
	float:left;
	margin-top:-8px;
	margin-right:5px;
}

section div.rail{
	float: right;
	width: 360px;
}

section div.rail h4{
	font-family: georgia;
	font-size: 1.8em;
	margin-bottom: 30px;
}

section div.rail a.button{
	float:left;
	margin-top:17px;
}

section div.rail th {
	padding-top: 0;
	height: 30px;
}

section div.rail p.msg {
	float: right;
	font-size: 1.2em;
	color: #777;
	margin-top:30px;
}
