@font-face {
    font-family: Postoni;
    src: url(http://img.wpdigital.net/rw/sites/webfonts/PostoniRegular/postonititling-regular-webfont.ttf?t=20120504164900);
    font-weight:400;
}
body{
	font-size: 62.5%;

}
#container {
	position: relative;
}

header {
	margin: 0 auto;
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
	box-shadow: 0 1px 4px rgba(34, 25, 25, 0.4);
	background: 	#222;
}
header div {
	margin: 0 auto;
	width: 996px;
}
header ul {
	float: right;
	color: #aaa;
	height: 45px;
	font-family: Arial, sans-serif;
}
header li:first-child{
	border-left: 1px solid #aaa;
}
header li.selected{
	color: #fff;
}
header li {
	border-right: 1px solid #aaa;
	display: block;
	float: left;
	font-size: 1.5em;
	height: 100%;
	line-height: 43px;
	padding: 0 20px;
}
header li a {
	color: inherit;
	text-decoration:none;
	display:block;
	width: 100%;
	height: 100%;
}
header h1{

	text-indent:-500px;
	color: 		#000;
	width: 		200px;
	height: 	25px;
	background: #222 url(../img/wp.png) -18px 0 no-repeat;
	padding: 	10px 0;
	width: 		200px;
	float: 		left;
}
header fieldset{
	float: right;
	font-family: arial, sans-serif;
	color: #fff;
	margin-top: 10px;
	font-size: 1.4em;
	display: none;
}
header fieldset input{
	border: 1px solid #fff;
}
header fieldset label{
	margin-right: 1em;
}
h2{
	color: #2E6D9D;
    font-family: Postoni;
    font-size: 6.7em;
    line-height: 80px;	
}
hgroup{
	margin: 67px auto 14px;
	position: relative;
	width: 996px;
	padding-bottom: 20px;
	border-bottom: #aaa 1px solid;
}
hgroup img{
	position: absolute;
	right: 5px;
	top:0;
}
h2 em{
    color: #444;
}


section{
	position: relative;
	margin: 30px auto 0;
	font-family: arial, sans-serif;
	width: 996px;
}

section h3 {
	font-family: georgia,serif;
	font-size: 2.2em;
	margin-bottom: 30px;
}
th{
	height: 25px;
}
td{
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
}

tbody{
	border-top: 2px solid #AAA;	
}

tr {
	padding: 20px 0;
}
td{
	vertical-align: center;
}

.WPpre {
  	background-image: url("http://img.wpdigital.net/rw/sites/twpweb/img/logos/wp-90x75.png?t=20120504164900");
    background-position: 0 4px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 80px;
    margin-right: 5px;
    width: 95px;
}
